h1{
	font-size: 2em;
	color: white;
	font-family: 'Sunflower', sans-serif;
	margin-top: 20%;
}

body{
	font-family: 'Sunflower', sans-serif;
	background-color: #A9ECED;
}

.row{
	padding-left: 40px;
	margin: 10px;
}


.col-izquierda{

	background-color: #C1C1C1;
	height: 100%;
	width: 500px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	position: absolute;
	
}

.crea-tweet{
	width: 400px;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 60%;
	margin-top: 20px;
	position: absolute;

}

.crea-tweet p{
	margin-left: 120px;
	margin-bottom: 0px;
	
}

.imagen-perfil{
	height: 100px;
	width: 100px;
	border: 1px solid #ccc;
	border-radius: 100px;
	padding: none;
	position: static;
	float: left;
	margin-bottom: 10px;

}

.glyphicon-camera{
	width: 67px;
	text-align: center;
	top: 30px;
	font-size: 40px;
}

button{
	background-color: #FFBC2C;
	color: white;
	border-radius: 5px;
	border: none;
	font-family: 'Roboto', sans-serif;


}

.button-photo{
	position: relative;
	margin-top: 40px;
	background-color: #DEDEDE;
	border: 1px solid #ccc;
	margin-left: 20px;
	width: 180px;
	clear: left;
}

.Formulario{
	margin-top: 50px;
}

input{
	border-radius: 5px;
	border: 1px solid #ccc;
}

textarea{
	
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;

}

.col-derecha{
	margin-left: 530px;
	float: left;
	overflow: 

}

.row2 h1{
	color: #07ACAF;
}

.new-tweet{
	width: 480px;
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 60%;
	margin-top: 20px;
	border: 1px solid #ccc;
	float: left;
	box-shadow: 0 3px 0 #c3c3c3, 0 14px 10px rgba(0,0,0,0.25);
}

.photo-tweet{
	height: 80px;
	width: 80px;
	border: 1px solid #ccc;
	border-radius: 100px;
	padding: none;
	position: static;
	float: left;
	margin-bottom: 10px;

}

.likes-tweet p{
	font-family: 'Sunflower', sans-serif;
}

.textcol-tweet{
	float: left;
}

i{
	float: left;
}

.delete-perfil-tweet{
	float: right;
	margin-left: 10px;
}

.delete-text-tweet{
	float: right;

}
